/*
	Level Design : Paris
	--------------------
*/
.level.paris {
 z-index: 1000;
}
/*
	Debug
*/
/*
	Foreground
*/

/*
	Stage
*/
/*
	Floor
*/
.layer.floor .level.paris .sector {
 background: #b8e9ff; /* walls */
}
.layer.floor .level.paris .sector .ground {
 background: #3d3d3d; /* ground */
}
/*
	Background
*/

/*
	Sky
*/
