/*
	Level Design : Paris
	--------------------
*/
.level.paris {
 z-index: 1000;
}
/*
	Debug
*/
/*
	Foreground
*/

/*
	Stage
*/
/*
	Floor
*/
.layer.floor .level.paris .sector {
 /* disabled because no walls here... */
}
.layer.floor .level.paris .sector .ground {
 background: #3d3d3d; /* ground */
}
/*
	Background
*/

/*
	Sky
*/
.layer.sky .level.paris {
 background: #b8e9ff;/*#7eb8d9; /* walls */
}
/*
	Sprites and decorations
*/
.level.paris .pont {
 position: absolute;
 height: 85px;
 margin-top: -136px;
 left: 0px;
 top: 100%;
 background: url(../../images/world/levels/paris/pont.png) repeat-x;
}
.level.paris .metro {
 position: absolute;
 width: 832px;
 height: 59px;
 margin-top: -159px;
 left: 100px;
 top: 100%;
 background: url(../../images/world/levels/paris/metro3.png) repeat-x;
}
.layer .level.paris .adiloualim {
 position: absolute;
 width: 293px;
 height: 232px;
 margin-top: -270px;
 margin-left: 90px;
 left: 0px;
 top: 100%;
 background: url(../../images/world/levels/paris/adiloualim.png);
}
.layer .level.paris .hotel {
 position: absolute;
 width: 335px;
 height: 246px;
 margin-top: -284px;
 margin-left: -7px;
 left: 30px;
 top: 100%;
 background: url(../../images/world/levels/paris/hotel.png);
}
.layer .level.paris .poste {
 position: absolute;
 width: 49px;
 height: 110px;
 margin-top: -110px;
 left: 4px;
 top: 100%;
 background: url(../../images/world/levels/paris/poste.png);
}
.layer .level.paris .andiamo {
 position: absolute;
 width: 190px;
 height: 186px;
 margin-top: -231px;
 margin-left: 0px;
 left: 30px;
 top: 100%;
 background: url(../../images/world/levels/paris/andiamo.png);
}
.layer .level.paris .crocodile {
 position: absolute;
 width: 284px;
 height: 311px;
 margin-top: -360px;
 margin-left: -11px;
 left: 0px;
 top: 100%;
 background: url(../../images/world/levels/paris/crocodile.png);
}
.layer .level.paris .landscape {
 position: absolute;
 height: 100%;
 margin-left: -500px;
}
.layer .level.paris .landscape .building {
 display:block;
 position: relative;
 background-color: #b8e9ff;
 width: 80px;
 float: left;
 bottom: 0;
 border:1px solid transparent;
 z-index:9999;
}
.layer .level.paris .immeuble {
 position: absolute;
 width: 89px;
 height: 345px;
 margin-top: -396px;
 margin-left: 0px;
 left: 30px;
 top: 100%;
 background: url(../../images/world/levels/paris/immeuble.png);
}
.layer .level.paris .immeuble0 {
 position: absolute;
 width: 516px;
 height: 296px;
 margin-top: -346px;
 margin-left: 0px;
 left: 30px;
 top: 100%;
 background: url(../../images/world/levels/paris/immeuble0.png);
}
.layer .level.paris .immeuble1 {
 position: absolute;
 width: 157px;
 height: 150px;
 margin-top: -208px;
 margin-left: 0px;
 top: 100%;
 background: url(../../images/world/levels/paris/immeuble1.png);
}
.layer .level.paris .immeuble2 {
 position: absolute;
 width: 99px;
 height: 319px;
 margin-top: -370px;
 top: 100%;
 background: url(../../images/world/levels/paris/immeuble2.png);
}
.layer .level.paris .immeuble3 {
 position: absolute;
 width: 378px;
 height: 313px;
 margin-top: -364px;
 top: 100%;
 background: url(../../images/world/levels/paris/immeuble3.png);
}
.layer .level.paris .gare {
 position: absolute;
 width: 674px;
 height: 245px;
 margin-top: -296px;
 left:0;
 top: 100%;
 background: url(../../images/world/levels/paris/gare_nationale.png);
}