@charset "utf-8";
/*
	Base
*/
html{
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
body{
 padding:0;
 margin:0;
 background:#2ba3d4;
}
/*
	Debug
*/
* {
	border:1px solid #000;
}
/*
	Splash screen
*/
#loading {
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 999999;
}
#loading .quartz {
 position: absolute;
 width: 100px;
 height: 180px;
 top: 50%;
 left: 50%;
 margin-top:-180px;
 margin-left:-50px;
}
#loading .brand {
 position: absolute;
 width: 300px;
 height: 60px;
 top: 50%;
 left: 50%;
 margin-top:5px;
 margin-left:-150px;
}
#loading .msg {
 position: absolute;
 width: 200px;
 height: 20px;
 top: 50%;
 left: 50%;
 margin-top:69px;
 margin-left:-100px;
 text-align: center;
 line-height: 20px;
}
#loading .spinner {
 position: absolute;
 width: 40px;
 height: 40px;
 top: 50%;
 left: 50%;
 margin-top:-180px;
 margin-left:-20px;

-webkit-animation: rotate 2.0s infinite linear;
 animation: rotate 2.0s infinite linear;
}
#loading .dot1, #loading .dot2 {
 width: 60%;
 height: 60%;
 display: inline-block;
 position: absolute;
 top: 0;
 background-color: #333;
 border-radius: 100%;

-webkit-animation: bounce 2.0s infinite ease-in-out;
 animation: bounce 2.0s infinite ease-in-out;
}
#loading .dot2 {
 top: auto;
 bottom: 0px;
-webkit-animation-delay: -1.0s;
 animation-delay: -1.0s;
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes bounce {
 0%, 100% { -webkit-transform: scale(0.0) }
 50% { -webkit-transform: scale(1.0) }
}
@keyframes bounce {
 0%, 100% { 
  transform: scale(0.0);
 -webkit-transform: scale(0.0);
 } 50% { 
  transform: scale(1.0);
 -webkit-transform: scale(1.0);
 }
}
/*
	Website parts 
*/
#viewport {
 position: fixed;
 width: 100%;
 height: 100%;
 overflow: hidden;
}
#universe {
 position: absolute;
 left: 0;
 top: 0;
 width: 999999em;
 height: 999999em;
}
.system {

}
#william {
 position: fixed;
 width: 100px;
 height: 180px;
 top: 50%;
 left: 50%;
 margin-top:-90px;
 margin-left:-50px;
}

/*
	Interactive world
*/
#world {
 position:absolute;
 width:999999em;
 height:999999em;
}
#world .screen{
 position:absolute
}
#actors{
 position:fixed;
 left:0;
 top:100%;
 margin-top:-100px;
 height:100px;
}
#articles{
 height:99999em;
}
.layer{
 width:9999em;
 position:absolute;
}
.layer .sector{
 width:480px;
 float:left;
 padding:0.3em 1em;
}