/*
	Global rules of the World
*/
/*
	Layers Z-indexes
*/
.layer{
 z-index: 2000;
}
.layer.posts{
 z-index: 9000; /* the top-most stuff is over 9000! oh yeah! */
}
.layer.fore{
 z-index: 8000;
}
.layer.stage{
 z-index: 7000;
}
.layer.floor{
 z-index: 6000;
}
.layer.floor .ground{
 z-index: 6999;
}
.layer.back{
 z-index: 5000;
}
.layer.back2{
 z-index: 4000;
}
.layer.sky{
 z-index: 1000;
}
/*
	Sectors and layers global rules
*/
#site-world{
 background: #b8e9ff;
}
#site-world .layer{
 overflow: visible;
 position: absolute;
 height: 100%;
 width: 0;
}
#site-world .level{
 height: 400px;
}
#site-world .sector{
 position: relative;
 display: block;
 float: left;
 height: 100%;
 padding: 0;
 margin: 0 -1px 0 0;
}
#site-world .level .sector.tiny {
 width: 80px;
 min-width: 80px;
}
#site-world .level .sector.small {
 width: 200px;
 min-width: 200px;
}
#site-world .level .sector.normal {
 width: 300px;
 min-width: 300px;
}
#site-world .level .sector.wide {
 width: 400px;
 min-width: 400px;
}
#site-world .level .sector.large {
 width: 600px;
 min-width: 600px;
}
#site-world .level .lowest {
 height: 90%;
 min-height: 90%;
}
#site-world .level .lower {
 height: 80%;
 min-height: 80%;
}
#site-world .level .low {
 height: 70%;
 min-height: 70%;
}
#site-world .level .med {
 height: 60%;
 min-height: 60%;
}
#site-world .level .high {
 height: 50%;
 min-height: 50%;
}
#site-world .level .higher {
 height: 40%;
 min-height: 40%;
}
#site-world .level .highest {
 height: 30%;
 min-height: 30%;
}
#site-world .level .level-wide {
 width: 99999em; /* will span all across the entire level */
}
/*
	Layer : floor
*/
#site-world .layer.floor {
 top:0;
 overflow: visible;
}
#site-world .layer .level,
#site-world .layer .sector {
 position: relative;
 float: left;
}
#site-world .layer .sector .ground {
 position: absolute;
 clear: both;
 top: 100%;
 width: 100%;
 height: 51px !important;
 border: 0;
 padding: 0;
 margin-top: -51px;
}
/*
	World layer: stage
*/
#site-world .layer.stage {
 top: 0;
 overflow: visible;
 /*
-webkit-box-shadow:inset 0 100px 100px 100px #D9D9D9;
 box-shadow:inset 0 100px 100px 100px #D9D9D9;
 */
}
#site-world .layer.sky {
 background: #b8e9ff;
}
/*
	Posts
*/
#site-world .post {
 background: rgba(255,255,255,0.9);
 padding:15px;
 font-family: 'Nunito', sans-serif;
 font-size: 14px;
 font-weight: light;
 margin-top: 25%;
}
#site-world .post h1{
 font-size: 18px;
 margin-top: 0;
}
#site-world .post p{
 font-size: 13px;
 font-weight: 100;
}
#site-world .post .icon{
 display: inline-block;
 position: relative;
 width: 14px;
 height: 14px;
}
#site-world .post .icon.views{
 background: url(../images/world/posts/eye.png) no-repeat center center;
}
#site-world .post .icon.comments{
 background: url(../images/world/posts/comment.png) no-repeat center center;
}
#site-world .post .footer {
 width: 100%;
 margin:0 -15px -15px -15px;
 padding:15px;
}
#site-world .post .footer > *{
 font-size: 14px;
 color: #888;
 overflow:hidden;
 display:inline-block;
 position:relative;
 margin-right:12px;
}
#site-world .post .button {
 background: #85B91E;
 padding:0.2em 1em;
 border-radius:2px;
 color:#fff;
 cursor:pointer;
}
